@{
    ViewData["Title"] = "User Guide";
}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">How does it work?</h1>
    <h1 class="lead">EduLocate: A User Guide.</h1>
</div>

<div class="userGuide">
    <h4>What's it all about? </h4>
    <ul>
        <li>EduLocate takes in a school name, address or post code to locate all of the nearest schools around you, within a radius <strong>you</strong> define.</li>
        <li>EduLocate integrates the Google Maps API to give you the most familiar, easy to use system available. Featuring Google's auto-completion system, you'll be up and running in seconds!</li>
        <li>EduLocate's primary purpose is to find the schools nearest to you, and show you exact comparisons. You can select up to 5 schools at once and display key data and statistics about each one, to see how they directly compare up against one another!</li>
        <li>EduLocate also displays the latest news headlines about schools nearest to your current location, so you can easily see if there's anything you need to be aware of.</li>
    </ul>
    <p> </p>
    <h4>How do you use it?</h4>
    <ol>
        <li><strong>Enter Location.</strong>
        <p>Enter a school name, address or post code.</p></li>
        <li><strong>Select Your Key Stage.</strong>
        <p>Select whether you want to see primary, secondary or post-16 education institutions.</p></li>
        <li><strong>Set Your Radius.</strong>
        <p>Select the distance away from your given location that you wish to schools.</p></li>
        <li><strong>Search.</strong>
        <p>Hit enter and see all of your selections presented on the map!</p></li>
        <li><strong>Compare.</strong>
        <p>Browse the options in your filters, adjust your filters to see more and finally choose the schools you wish to compare.</p></li>
    </ol>
</div>
