@{
    ViewData["Title"] = "Application Files";
}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">EduLocate Application</h1>
    <h1 class="lead">Click a file to download a copy.</h1>
</div>

<div class="userGuide">
    <ul>
        <li><a href="/appfiles/uk.ac.ncl.edulocatex.apk" download><strong>Android App</strong></a></li>
        <li><strong>Cross-Platform iOS App</strong> <small><i>(currently unavailable due to Apple's Developer fees)</i></small></li>
        <li><strong>Cross-Platform Windows App</strong> <small><i>(currently unavailable due to not having a Microsoft Developer license for the Windows Store)</i></small></li>
    </ul>
</div>
