@{
    ViewData["Title"] = "Documentation";
}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Devlopment Documentation</h1>
    <h1 class="lead">Click a file to download a copy.</h1>
</div>

<div class="userGuide">
    <ul>
        <li><a href="/documents/userstories.docx" download><strong>User Stories</strong></a>
            <p>All of the User Stories gathered in the planning phase of development.</p></li>
        <li><a href="/documents/spec.docx" download><strong>EduLocate Final Specification</strong></a>
            <p>The final specification document created at the end of the planning phase, that includes all the information necessary for app development to begin.</p></li>
        <li><a href="/documents/wireframes.docx" download><strong>Design Wireframes</strong></a>
            <p>The wireframes documents that demonstrated what the final design should look like before development began.</p></li>
    </ul>
</div>
