@{
    ViewData["Title"] = "Home Page";
}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">EduLocate</h1>
    <h1 class="lead">Initiate, Locate, Educate.</h1>
    <p>
        <a class="btn btn-primary my-2" asp-controller="Home" asp-action="AppFiles">Application Downloads</a>
    </p>
    <p>
        <a class="btn btn-primary my-2" asp-controller="Home" asp-action="About">How does it work?</a>
    </p>
</div>