@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    bool showBanner = !consentFeature?.CanTrack ?? false;
    string cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark" role="alert">
        <div class="container collapse navbar-collapse">
            <h4 class="navbar-text">Our Cookie Policy</h4>
            <div class="mt-2 mt-md-0">
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-secondary m-2">Learn More</a>
                <button type="button" class="btn btn-primary m-2" data-cookie-string="@cookieString">Accept</button>
            </div>
        </div>
    </nav>
    <script>
        (function() {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click",
                function(el) {
                    document.cookie = el.target.dataset.cookieString;
                    document.querySelector("#cookieConsent").classList.add("hidden");
                    document.getElementById("cookieConsent").remove();
                },
                false);
        })();
    </script>
}